{% extends "base.html" %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container my-1h">
    <h3>Create Dynamic Table:</h3>
    <form>
        <input type="text" name="x">
        <input type="text" name="y">
        <button type="submit" class="button button-primary">Submit</button> 
    </form>
    <div class="container">
        <div class="row">
            <div class="col"><canvas id="barChart"></canvas></div>
            <div class="col"><canvas id="radarChart"></canvas></div>
            <!--<div class="col"><canvas id="horizontalChart"></canvas></div>-->
        </div>
        <div class="row"></br></div>
        <div class="row">
            <div class="col"><canvas id="bubbleChart"></canvas></div>
            <div class="col"><canvas id="lineChart"></canvas></div>
            <!--<div class="col"><canvas id="pieChart"></canvas></div>-->
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
{% include 'chart_bar.html' %}
{% include 'chart_bubble.html' %}
{% include 'chart_pie.html' %}
{% include 'chart_line.html' %}
{% include 'chart_radar.html' %}
{% include 'chart_horizontal.html' %}
{% endblock %}